<h1>Edit a Crew Member</h1>

<form action="/crew/<%=@crew.id%>" method="POST">
<input type="hidden" name="_method" value="patch">
  <label> Name </label>
  <input type="text" name="name" value="<%= @crew.name %>"> </br>

  <label> Rank </label>
  <input type="text" name="rank" value="<%= @crew.rank %>"> </br>

  <label> Species </label>
  <input type="text" name="species" value="<%= @crew.species %>"> </br>

  <label> Affiliation </label>
  <input type="text" name="affiliation" value="<%= @crew.affiliation %>"> </br>

 

   <h3>Choose an Existing Ship</h3>
  <% @ship.each do |ship| %>
      <input type="radio" name="ship_id" id="<%= ship.id %>" value="<%= ship.id %>" <%='checked' if @crew.ships == ship %>><%= ship.name %></input><br>
  <% end %>
  <br>
  
</form>

<a href="/"> Home </a>