<h1><%= @ship.name %></h1>

<p><%= @ship.klass %> Class Starship</p>

<p>Registry:<%= @ship.registry %></p>

<a href=<%="/ships/#{@ship.id}/edit"%>><button>Edit</button></a>
<form action="/ships/<%=@ship.id%>" method="POST">
<input type="hidden" name="_method" value="delete">
<input type="submit" value="Delete">
</form>

